<!DOCTYPE html>
<html>
	<head>
		<title>RPF apprenticeship technical task</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<%= yield %>
	</body>
</html>
