:root {
	--text: white;
	--dark-100: #616575;
	--dark-200: #4a4d59;
	--dark-300: #33353d;
	--dark-400: #23242a;
}

h1,
h2,
ul,
p {
	margin: 0;
}

a {
	color: var(--text);
}

body {
	background-color: var(--dark-400);
	color: var(--text);
	font-family: Arial, Helvetica, sans-serif;
	padding: 3rem;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

nav {
	font-size: 2rem;
	display: flex;
	margin-block-end: 2rem;
}

nav a span {
	display: inline-block;
	text-decoration: none;
	padding-inline-end: 1rem;
}

.links {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.links a {
	transition: background-color 0.5s, border-radius 0.2s;
	background-color: var(--dark-300);
	padding: 3rem;
	border-radius: 1rem;
	font-size: 1.5rem;
	flex-grow: 1;
	text-align: center;
}

.links a:hover {
	background-color: var(--dark-200);
	border-radius: 2rem;
}

/* Who */

.who {
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 1.5rem;
	font-size: 1.5rem;
	list-style: none;
	padding: 2rem;
	background-color: var(--dark-300);
	border-radius: 1rem;
}

.who li {
	display: flex;
	align-items: center;
	gap: 3rem;
	justify-content: space-between;
}

.craft {
	background-color: white;
	color: var(--dark-400);
	padding: 0.5rem 1rem;
	border-radius: 2rem;
}

/* position */
.position {
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.latlong {
	font-size: 1.5rem;
	display: flex;
	gap: 1rem;
}

.latlong p {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	padding: 2rem;
	border: white 2px solid;
	border-radius: 1rem;
	font-family: monospace;
}

.latlong p span {
	font-size: 1rem;
}
